$primary: #7039CB;
$primary-light: #E6E5EA;
$primary-grey: #448AFF;
$primary-dark-light: #192734;
$primary-dark: #E6E5EA;
$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;
$border-primary: $primary;
$border-light: #fff;
$border-grey: #000000;
$border-dark: $primary-dark;
$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-ligth: #8799a6;
$danger: #e0245e;